Dockerfile
example-Dockerfile
docker-compose.yaml
example-docker-compose.yaml
.dockerignore
.git
.gitignore
.gitattributes
README.md
.npmrc
.prettierrc
.prettierignore
.eslintrc.cjs
.eslintignore
.graphqlrc
.editorconfig
.svelte-kit
.vscode
node_modules
build
package
drizzle
**/.env